<!DOCTYPE html>
<html>
<head>
    <title>Todo List Detail</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
            <div>
                <a href="{% url "todo_list_update" todo_list.id %}">Edit!</a>
            </div>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_item in todo_items %}
                        <tr>
                            <td>{{ todo_item.task }}</td>
                            <td>{{ todo_item.due_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
