<!DOCTYPE html>
<html>
<head>
    <title>Create Todo List</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new list</h1>
            <p>Name</p>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="name">
                <button>Submit</button>
            </form>
        </div>
    </main>
</body>
</html>
